.gradient-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #70c4e0, #195aa1);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease-in-out infinite;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 15px;
  padding: 20px;
  max-width: 600px; /* Adjust the width as per your requirement */
  width: 90%; /* Adjust the width as per your requirement */
  max-height: 500px;
  text-align: center;
  margin: auto;
  background-color: transparent;
  z-index: 1; /* Move the p-card above the gradient */
}

